<div id="<%= dom_id team %>">

<p>
<strong>mode:</strong>
<%= team.mode %>
</p>

<p>
<strong>leader_id:</strong>
<%= team.leader_id %>
</p>

<p>
<strong>roster:</strong>
<%= team.roster %>
</p>

</div>
