<%= form_with(model: @messageteam, url:chat_team_new_path) do |form| %>

        <div class="col-md-6 mx-auto">
      <%= form.text_area :text, class: "form-control",style: "resize: none;" %>
    </div>
<div class="text-center">
  <%= form.submit "Invia messaggio", class: "btn btn-primary" %>
</div>


  <% end %>