<%= form_with model: @message, url: messages_new_support_message_path do |form| %>

    
    <div class="text-center col-md-6 mx-auto mt-5 mb-4">
      <%= form.text_area :body,class:"form-control", style: "resize: none;" %>
    </div>
    
    <div class="text-center">
      <%= form.submit "Invia Ticket ai moderatori ",class:"btn btn-primary" %>
    </div>
  <% end %>