
<head>
<%= stylesheet_link_tag "board", "data-turbo-track": "reload" %>

    <style>
        <%if (session[:game]=="LOL") %>
        .sfondo-bacheca {
                background-color: #4169e1;
        }
        <% end %>
    </style>
</head>

<body>

    <div class="container-bacheca">
        <div class="sfondo-bacheca">

            <div id="titolo-bacheca" class="w3-panel w3-center w3-white w3-round-medium">
                <span>
                    ANNUNCI
                    <i class="fa fa-refresh" style="font-size:24px"></i>
                    <!-- va implementato il refresh che aggiorni la bacheca -->
                </span>
            </div>

            <div id="bacheca">
                <!-- annunci -->
                <%= for a in 1..20 do%>
                <div class="thread"> annuncio
                    </div>
                <%end%>
            </div>

        </div>
    </div>

</body>