<form class="w3-center" action="<%= edit_profile_path %>" method="get">
  <div class="form-group">
    <label for="inputUsername">RiotID</label>
    <input type="text" name="summoner_name" class="form-control" id="inputUsername" placeholder="Enter username">
    <small id="emailHelp" class="form-text text-muted">Il tuo username deve essere nella forma "nome#tag" (es. abc#1234)</small>
  </div>
  <button type="submit" class="btn btn-primary">Cerca</button>
</form>
