<%if(@game=="LOL") %>
 <p>news di lol</p>
 <h1><%= link_to 'torna indietro', home_path(game:'LOL')%></h1>
<%elsif(@game=="VALO") %>
 <p>news di valorant</p>
 <h1><%= link_to 'torna indietro', home_path(game:'VALO')%></h1>
<% end %>