<head>
    <title> Posta - RiotGuild</title>
    <%= stylesheet_link_tag "posta", "data-turbo-track": "reload" %>
</head>

<body>
    <div class="d-flex flex-column vh-100 container-posta">
        <h1 class="w3-center"style="margin-left: 10px;">POSTA</h1>
        <div>
            <div class="justify-content-start posta-buttons">  
                <button id="msg-btn" class="btn-lg">Messaggi</button>
                <button id="nots-btn" class="btn-lg selected-posta-tab">Notifiche</button>
            </div>
            <div id="posta-content" class="d-flex flex-column justify-content-center align-items-center">
                
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function() {
    
        

    $('#msg-btn').click(function() {
        $('#nots-btn').removeClass("selected-posta-tab")
        $('#msg-btn').addClass("selected-posta-tab")
        $.ajax({
            url: '/your_messages',
            type: 'GET',
            success: function(response) {
                $('#posta-content').html(response);
            }
        });
    });

    $('#nots-btn').click(function() {
        $('#msg-btn').removeClass("selected-posta-tab")
        $('#nots-btn').addClass("selected-posta-tab")
        $.ajax({
            url: '/your_notifications',
            type: 'GET',
            success: function(response) {
                $('#posta-content').html(response);
            }
        });
    });

    
});
</script>
</body>