<head>
    <%= stylesheet_link_tag "scelta", "data-turbo-track": "reload" %>
</head>

<body>
    <div class="wrapper">
        <div class="flex-container">
            <div class="column">
                <%= link_to home_path(game: "LOL") do %>
                    <button id="LOL-btn" class="choice-button"></button>
                <% end %>
            </div>
            <div class="column">
                <%= link_to home_path(game: "VALO") do %>
                    <button id="VALO-btn" class="choice-button"></button>
                <% end %>
            </div>
        </div>
    </div>
</body>