<head>
    <%= stylesheet_link_tag "scelta", "data-turbo-track": "reload" %>
</head>

<body>
    <div class="wrapper">
        <div class="flex-container">
            <div class="column">
                
                <%= button_to "", set_session_path(value: "LOL"), method: :post, id: "LOL-btn", class: "choice-button" %>

            </div>
            <div class="column">

                <%= button_to "", set_session_path(value: "VALO"), method: :post, id: "VALO-btn", class: "choice-button" %>
            </div>
        </div>
    </div>
</body>