
<h1>Utente</h1>

<p><strong>Email:</strong> <%= @found_user.email %></p>
<p><strong>Username:</strong> <%= @found_user.username %></p>
<p><strong>Account creato il:</strong> <%= @found_user.created_at.strftime("%d/%m/%Y") %></p>

<%=link_to 'Back', profile_path %>
