<p style="color: green"><%= notice %></p>

<h1>Notificas</h1>

<div id="notificas">
  <% @notificas.each do |notifica| %>
    <%= render notifica %>
    <p>
      <%= link_to "Show this notifica", notifica %>
    </p>
  <% end %>
</div>

<%= link_to "New notifica", new_notifica_path %>
