/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .small-icon {
    width: 64px;
    height: 64px;
 }
 
 .x-small-icon {
	width: 48px;
    height: 48px;
 }

 body {
    padding: 0;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    
  }
  
  
  .header {
    height: 100px;
    background-color:beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
  }
  
  .content {
    flex:1;
    min-height: 100%;
    
  }

  .footer {
    background-color:beige;

    position: relative;
    bottom: 0;
    height: 36px;
    
  }
  
  .sito{
    font-size: 2.5em;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color:chocolate;
    margin-right: 40px;
    text-decoration: none;
  }

  .profilo {
    padding-left: 10px; 
    padding-right: 10px; 
  }
  
  .header-left {
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .header-right {
    display:flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    width: 25%;
  }
  
  #iconaNotifica {
    outline: 1px solid gray;
  }

  #iconaNotifica:hover {
    cursor: pointer;
    outline: 2px solid black;
  }
  
  .login {
    background-color: #df7e23;
    border: none;
  }
  
  .login:hover {
    filter: brightness(1.1);
    outline: 2px solid goldenrod;
  }

  .mini-choice-button {
    height: 48px;
    width: 64px;

    background-size: cover; 
    background-repeat: no-repeat;
  } 

  .unchosen {
    filter: saturate(20%);  /* per ingrigire il tasto del gioco NON selezionato */
  }

  .mini-choice-button:hover {
    filter: brightness(1.2);
    outline: 4px solid rgb(151, 147, 147);
  }

  #LOL-home {
    background-image: url('/assets/LOL-bg.png');
  }
  #LOL-button {
    background-image: url('/assets/LOL-image.jpeg');
  }
  #VALO-button {
    background-image: url('/assets/VALO-image.jpg');
  }
  #VALO-home {
    background-image: url('/assets/VALO-bg.png');
  }
.google-button{
  padding: 10px 00px;
  display: inline-block;
  padding: 0;
  border: none;
  background: url('/assets/Google_Icon_trans.png') no-repeat center center;
  background-size: cover; /* Opzionale: regola la dimensione dell'immagine */
  width: 60px;
  height: 60px;
  text-indent: -9999px; 
}

.lane_disponibile{
	
	image-size
}
.lane_occupata{
	filter: blur(15px);
}

.lane_non_disponibile{

	opacity: 30%;
}
