/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    padding: 0;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
  }
  
  .header {
    height: 64px;
    background-color:beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    border: 5px dotted blue;
  }
  
  .content {
    flex:1;
    min-height: 100%;

    border: 5px dotted red;
  }

  .footer {
    background-color:beige;

    position: relative;
    bottom: 0;
    height: 36px;

    border: 5px dotted blue;
  }
  
  .sito{
    font-size: 2.5em;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color:chocolate;
    margin-right: 40px;
  }

  .profilo {
    padding-left: 10px; 
    padding-right: 10px; 
  }

  .header-left {
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header-right {
    display:flex;
    justify-content: flex-end;
  }

  .mini-choice-button {
    height: 48px;
    width: 64px;

    background-size: cover; 
    background-repeat: no-repeat;
  } 

  .unchosen {
    filter: saturate(20%);  /* per ingrigire il tasto del gioco NON selezionato */
  }

  .mini-choice-button:hover {
    filter: brightness(1.2);
    border: 4px solid rgb(151, 147, 147);
  }

  #LOL-home {
    background-image: url('/assets/LOL-image.jpeg');
  }

  #VALO-home {
    background-image: url('/assets/VALO-image.jpeg');
  }