

.container-bacheca {
    padding: 0;
    margin: 0;
    height:100vh;
    
    position: relative;
    scroll-behavior: smooth;
    background-image: url('/assets/Immagine1.png'); 
}

.sfondo-bacheca {
    height: 85%;
    width: 80%;
    border-radius: 1.5em;
    
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -30%);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: red;
}

#titolo-bacheca {
    width: 90%;
}

#titolo-bacheca > span {
    font-weight: bold;
    word-spacing: 10px;

    flex-basis: 20%;
}

#bacheca {
    border: 4px groove silver;
    border-radius: 1.5em;

    flex-basis: 80%;
    width: 85%;

    margin-bottom: 10px;

    overflow-y: auto;
    scroll-behavior: smooth;

    display:flex;
    flex-direction: column;
}

.annuncio {
    padding: 10px;
    border-bottom: 1px solid #eee;
    border-radius: 0;

    display:flex;
    flex-direction: row;
}
.annuncio:hover {
  outline: 2px solid white;
}

.annuncio .owner,.minRank,.apply_for {
    flex-grow:1
}

.annuncio > * {
    outline: 2px dotted black;
    display:flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
}

.annuncio .owner {
    flex-direction: column;
    justify-content: space-around;
    
    
}
.annuncio .roles {
    flex-direction: column;
    flex-grow: 2;
    
}
.annuncio .minRank {
    flex-direction: column;
    justify-content: space-around;
}
.annuncio .apply_for {    
    flex-direction: column;
    align-items: center;    
}   
    .apply_for .scadenza {
        margin-bottom: auto;
    }
    .apply_for button {
        width: 90%;
    }
