
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-1 {
  display: flex;
  justify-content: space-between;

}

.container-1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  box-sizing: border-box;
}

.container-2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(229, 234, 212);
}

.team-section {
  border: 3px solid black;
}

.board-section {
  border: 3px solid black;
}

.news-section {
  border: 3px solid black;
}

#team-btn {
  background-color: royalblue;
  color: white;
}
body {
  background-image: url('/assets/Immagine1.png'); /* Sostituisci con il nome effettivo dell'immagine */
  background-size: cover; /* opzionale: copri l'intero elemento */
  background-repeat: no-repeat; /* opzionale: impedisce la ripetizione dell'immagine */
  background-color: rgba(255, 255, 255, 0.5); /* Imposta l'opacità del colore di sfondo */
  /* Puoi anche utilizzare background-position per regolare la posizione dell'immagine */
}