.container-bacheca-news {
    
    min-height: 100vh;

    background-image: url('/assets/LOL-bg.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sfondo-bacheca-news {
    height: 85%;
    width: 80%;
    border-radius: 1.5em;
    /*
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -30%);
    */
    display:flex;
    flex-direction: column;
    
    align-items: center;

    background-color: rgba(65, 105, 225, 0.719);

    margin-top: 2em;

    flex:2;
}

#titolo-bacheca-news {
    width: 90%;

}

#titolo-bacheca-news > span {
    font-weight: bold;
    word-spacing: 10px;

    flex-basis: 20%;
}

#bacheca-news {
    border: 2px dotted black;

    flex-basis: 80%;
    width: 85%;

    margin-bottom: 10px;

    overflow-y: auto;
    scroll-behavior: smooth;
}

    .thread {
        padding: 10px;
        border-bottom: 1px solid #eee;
    }

.containerRotation {
    padding:0;
    margin: 0;
    height:38vh;
    position:relative;
    scroll-behavior: smooth;
    width: 80%;
    
    flex:1 ;
    margin-top: 4em;
}

#titoloRotazione{
    width:90%;
}

#titoloRotazione > span{
    font-weight: bold;
    flex-basis:20%;
}

.sfondoNotizie{
    min-height: 85%;
    
    border-radius: 1.5em;
   /* 
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -30%);
*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px; 

    background-color: rgba(65, 105, 225, 0.719);
}

.Campioni{
    height:95%;
    width:95%;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 2em;
}

.boxCampioneIcona{
    /* outline e non border perchè altrimenti appare doppio tra elementi adiacenti*/
    outline:2px solid goldenrod;
    
    display:inline-block;
    background-color: white;
}