.container-bacheca-news {
    padding: 0;
    margin: 0;
    height: 60vh;
    
    
    position: relative;
    scroll-behavior: smooth;
}

.sfondo-bacheca-news {
    height: 85%;
    width: 80%;
    border-radius: 1.5em;
    
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -30%);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;

    background-color: royalblue;
}

#titolo-bacheca-news {
    width: 90%;
}

#titolo-bacheca-news > span {
    font-weight: bold;
    word-spacing: 10px;

    flex-basis: 20%;
}

#bacheca-news {
    border: 2px dotted black;

    flex-basis: 80%;
    width: 85%;

    margin-bottom: 10px;

    overflow-y: auto;
    scroll-behavior: smooth;
}

.thread {
padding: 10px;
border-bottom: 1px solid #eee;
}

.containerRotation {
    padding:0;
    margin: 0;
    height:38vh;
    position:relative;
    scroll-behavior: smooth;
}

#titoloRotazione{
    width:90%;

    

}
#titoloRotazione > span{
    font-weight: bold;
    word-spacing:10px;
    flex-basis:20%;
}

.Campioni{
    height:95%;
    width:95%;
}

.boxCampioneIcona{
    border:2px solid #333;
    height:33%;
    width:7%;
    display:inline-block;
    background-color: white;
}

.sfondoNotizie{
    height: 85%;
    width: 80%;
    border-radius: 1.5em;
    
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -30%);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;

    background-color: royalblue;
}
