.container-profile {
    display:flex;
    flex-direction: column;
    align-items: center;

    border: 3px dotted black;
}

.container-profile > div {
    flex-grow: 1;

    border: 2px solid black;
    width: 80%;
}       

    .RF-account {
        background-image: url('/assets/riot-profile.jpeg'); 
        background-size: cover; 
        background-repeat: no-repeat; 

        color: white;
        border: 2px dashed black;
        font-weight: bold;

        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height:50%;
    }

    .LOL-account {
        display:flex;
        flex-direction: row;
    }

        .LOL-account .icon {

            display:flex;
            flex-direction:column;
            margin-left: 2em;
            margin-top: 1em;
            margin-bottom: 1em;

            border: 3px dotted blue;
        }
        
            .icon > .img {
                width:50%;
                height:50%;
            }
        
        .LOL-account .info {
            display:flex;
            flex-direction:column;
        }