.container-profile {
    display:flex;
    flex-direction: row;

    min-height: 100vh;
    
    background-image: url('/assets/sfondo-profilo.png');
    background-size: cover; 
    background-repeat: no-repeat;

}

.container-profile > div { 
    margin-top: 4em;
    margin-bottom: 1em;
}

    .account-info {
        flex:1;
        background-color: white;
        border: 5px groove goldenrod;
        margin-left: 5px;
    }
    	.account .icon {
    	   border-color: silver;
    	}
	    	.account-info .icon .img {
		    width: 128px;
		    height: 128px;
	    	}
	    	.account-info .rank-icon {
	            width: 64px;
	            height: 64px;
	    	}

        .profile-info > * {
            margin-top: 1em;
        }
        
        	.cerca-utenti-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                min-height: 100px;
        	}
            .cerca-utenti-form > :first-child {
                border: 2px solid orangered;
                border-radius: 0.3em;
            }

    
    .candidature-team {
        flex:2;
    }     

    .candidature-team > div {
        background-color: burlywood;
        border: 3px inset gray;
        
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;

        margin:20px;
    }

    .candidature-team .w3-panel{
        background-color:rgb(158, 158, 158);
        color: white;
        width: 80%;
        margin-top: 5px;
    }

    .container-candidature {
        
        flex: 1;
    }

    .container-richieste {
        flex: 2;
    }
       

        .candidatura, .richiesta {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            padding-top: 5px;
            padding-bottom: 5px;
        }

        .candidatura,.richiesta {
            border: none;
            background-color:rgba(44, 44, 63, 0.956);
            color: white;
            height: 5em;
            margin-top: 5px;
            margin-bottom: 3px;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .richiedente {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

    .container-friendlist {
        flex:1;
        background-color: rgba(0, 191, 255, 0.779);
        border-radius: 0.5em;
        margin-right: 15px;
    }

        .friend-label {
            background-color: white;
            color: black;
        }

        .friendlist {
            height: 100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            align-items: center;  
        }

            .friendlist > .w3-panel {
                margin-top: 0;
                border-bottom-left-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
            }

            .friend {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                margin-bottom: 3px;

                padding-left: 10px;
                padding-right: 10px;
                background-color: floralwhite;
                border: 3px ridge floralwhite;
                border-radius: 0.3em;
                width: 95%; 
            }
            	
            	.friend-name:hover {
            		color: goldenrod;
            	}

                    .delete-friend-btn {
                        background-color: crimson; 
                        color: white; 
                        border: none; 

                    }
                    .delete-friend-btn:hover {
                        filter: brightness(1.1)
                    }
