.container-profile {
    display:flex;
    flex-direction: row;

    min-height: 100vh;
    
    background-image: url('/assets/sfondo-profilo.png');
    background-size: cover; 
    background-repeat: no-repeat;

}

.container-profile > div { 
    margin-top: 4em;
    margin-bottom: 1em;
}

    .account-info {
        flex:1;
        background-color: white;
        border: 5px groove goldenrod;
        margin-left: 5px;
    }
    	.account .icon {
    	   border-color: silver;
    	}
	    	.account-info .icon .img {
		    width: 128px;
		    height: 128px;
	    	}

        .profile-info > * {
            margin-top: 1em;
        }
        
        	.profile-info .cerca-utenti {
        	    margin-top: 4em;
        	}

    
    .candidature-team {
        flex:2;
    }     

    .candidature-team > div {
        background-color: burlywood;
        border: 3px inset gray;
        
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;

        margin:20px;
    }

    .candidature-team .w3-panel{
        background-color:rgb(158, 158, 158);
        color: white;
        width: 80%;
        margin-top: 5px;
    }

    .container-candidature {
        
        flex: 1;
    }

    .container-richieste {
        flex: 2;
    }
       

        .candidatura, .richiesta {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            padding-top: 5px;
            padding-bottom: 5px;
        }

        .candidatura,.richiesta {
            border: none;
            background-color:rgb(44, 44, 63);
            color: white;
            
            height: 5em;
            margin-top: 5px;
            margin-bottom: 3px;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .richiedente {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

    .container-friendlist {
        flex:1;
        background-color: pink;
        margin-right: 5px;
    }
        .friendlist {
            border: 3px solid black;

            height: 100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            align-items: center;  
        }

            .friendlist > .w3-panel {
                margin-top: 0;
                border-bottom-left-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
            }

            .friend {
                display: flex;
                align-items: center;

                margin-bottom: 3px;
                padding-left: 10px;
                padding-right: 10px;
                background-color: floralwhite;
                border: 3px inset floralwhite;
                border-radius: 0.3em;
                width: 100%; 
            }
