.container-user {
    display:flex;
    flex-direction: column;

    min-height: 100vh;
    
    background-image: url('/assets/cerca-utenti-sfondo.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}
    
    .account {
        
        background-color: white;
        border: 5px groove goldenrod;
        border-radius: 1em;
        width: 60%;
        margin-left: 20px;
    }
	    	.account .icon .img {
    		    border: 5px ridge silver;
    		    border-radius: 1em;
		    width: 256px;
		    height: 256px;
	    	}
    .user-info {
	    display:flex;
	    flex-direction: row;
    }
		.user-info > * {
		    margin-top: 1em;
		    margin-left: 15px;
		}
        
        	.user-info .cerca-utenti {
        	    margin-top: 4em;
        	}
