<%= @newpost.title %>

<br>

<%= @newpost.content %>
<br>
<br>

<h1>
<a href="/news"> TORNA INDIETRO</a>
</h1>

<a href=<%='/news/'+@newpost.id.to_s+'/edit'%>>
MODIFICA POST
</a>


<%= button_to 'delete', delete_newpost_path(@newpost),method: :delete%>